In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
import glob

In [2]:
df1 = pd.read_csv("Imu.csv")
df1.head()
# df[datetime_column] = pd.to_datetime(df[datetime_column])

,time,.header.seq,.header.stamp.secs,.header.stamp.nsecs,.header.frame_id,.orientation.x,.orientation.y,.orientation.z,.orientation.w,.orientation_covariance,.angular_velocity.x,.angular_velocity.y,.angular_velocity.z,.angular_velocity_covariance,.linear_acceleration.x,.linear_acceleration.y,.linear_acceleration.z,.linear_acceleration_covariance
0,2024/07/15/18:05:00.947699,63432,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",-0.678354,-0.464939,-0.518293,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.802332,0.747246,9.010063,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"
1,2024/07/15/18:05:00.948682,63433,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.297256,0.365854,-0.510671,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.416733,0.931663,10.787168,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"
2,2024/07/15/18:05:00.949670,63434,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.510671,0.487805,-0.457317,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.529299,0.890947,10.933264,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"
3,2024/07/15/18:05:00.950663,63435,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",-0.106707,-0.106707,-0.266768,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.732876,0.251477,10.032737,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"
4,2024/07/15/18:05:00.951683,63436,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",-0.655488,-0.472561,-0.045732,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.663420,-0.177231,9.390872,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"

In [3]:
print(df1.iloc[[0, -1], 0], np.shape(df1))

0        2024/07/15/18:05:00.947699
43316    2024/07/15/18:05:44.276266
Name: time, dtype: object (43317, 18)

In [4]:
df2 = pd.read_csv("Joint_states.csv")
df2.head()

,time,.header.seq,.header.stamp.secs,.header.stamp.nsecs,.header.frame_id,.name,.position,.velocity,.effort
0,2024/07/15/18:05:00.936891,63421,1721091900,936632233,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05731356143951416, 0...","(-0.010302197188138962, -0.1116071417927742, 0...",()
1,2024/07/15/18:05:00.937719,63422,1721091900,937629004,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05735573172569275, 0...","(-0.0, 0.024896977469325066, -0.00944368075579...",()
2,2024/07/15/18:05:00.938733,63423,1721091900,938635494,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05735573172569275, 0...","(-0.012019230052828789, 0.0334821417927742, -0...",()
3,2024/07/15/18:05:00.939705,63424,1721091900,939633966,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05735573172569275, 0...","(0.02833104319870472, 0.012877746485173702, -0...",()
4,2024/07/15/18:05:00.940673,63425,1721091900,940621592,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05735573172569275, 0...","(-0.0, 0.012019230052828789, 0.030906591564416...",()

In [5]:
print(df2.iloc[[0, -1], 0], np.shape(df2))

0        2024/07/15/18:05:00.936891
43328    2024/07/15/18:05:44.277293
Name: time, dtype: object (43329, 9)

In [6]:
# drop the first 11 rows of df1 
df2.drop(df2.index[:11], inplace=True)
df2.head()

,time,.header.seq,.header.stamp.secs,.header.stamp.nsecs,.header.frame_id,.name,.position,.velocity,.effort
11,2024/07/15/18:05:00.947679,63432,1721091900,947624954,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05731356143951416, 0...","(0.0008585164323449135, -0.08155906200408936, ...",()
12,2024/07/15/18:05:00.948670,63433,1721091900,948621044,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05735573172569275, 0...","(0.04378433898091316, 0.03519917279481888, -0....",()
13,2024/07/15/18:05:00.949657,63434,1721091900,949616145,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015971943736076355, 0.05731356143951416, 0...","(-0.1339285671710968, -0.14165520668029785, -0...",()
14,2024/07/15/18:05:00.950655,63435,1721091900,950615765,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05735573172569275, 0...","(0.0008585164323449135, 0.026614010334014893, ...",()
15,2024/07/15/18:05:00.951669,63436,1721091900,951624404,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05731356143951416, 0...","(0.06009615212678909, -0.06181318312883377, -0...",()

In [7]:
df2.reset_index(drop=True, inplace=True)
print(df2.iloc[[0, -1], 0], np.shape(df2))

0        2024/07/15/18:05:00.947679
43317    2024/07/15/18:05:44.277293
Name: time, dtype: object (43318, 9)

In [8]:
df2.drop(df2.index[-1], inplace=True)
print(df2.iloc[[0, -1], 0], np.shape(df2))

0        2024/07/15/18:05:00.947679
43316    2024/07/15/18:05:44.276258
Name: time, dtype: object (43317, 9)

In [9]:
print(df1.iloc[[0, -1], 1])
print(df2.iloc[[0, -1], 1])

0         63432
43316    106750
Name: .header.seq, dtype: int64
0         63432
43316    106750
Name: .header.seq, dtype: int64

In [10]:
# Given timestamp
df1["time"] = df1["time"].apply(lambda x: datetime.strptime(x, "%Y/%m/%d/%H:%M:%S.%f").microsecond / 1e3)
df1.head()

,time,.header.seq,.header.stamp.secs,.header.stamp.nsecs,.header.frame_id,.orientation.x,.orientation.y,.orientation.z,.orientation.w,.orientation_covariance,.angular_velocity.x,.angular_velocity.y,.angular_velocity.z,.angular_velocity_covariance,.linear_acceleration.x,.linear_acceleration.y,.linear_acceleration.z,.linear_acceleration_covariance
0,947.699,63432,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",-0.678354,-0.464939,-0.518293,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.802332,0.747246,9.010063,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"
1,948.682,63433,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.297256,0.365854,-0.510671,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.416733,0.931663,10.787168,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"
2,949.670,63434,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.510671,0.487805,-0.457317,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.529299,0.890947,10.933264,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"
3,950.663,63435,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",-0.106707,-0.106707,-0.266768,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.732876,0.251477,10.032737,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"
4,951.683,63436,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",-0.655488,-0.472561,-0.045732,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.663420,-0.177231,9.390872,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)"

In [11]:
# add a column to df1 with difference between each timestamp
df1["diff"] = df1["time"].diff()
df1.head()

,time,.header.seq,.header.stamp.secs,.header.stamp.nsecs,.header.frame_id,.orientation.x,.orientation.y,.orientation.z,.orientation.w,.orientation_covariance,.angular_velocity.x,.angular_velocity.y,.angular_velocity.z,.angular_velocity_covariance,.linear_acceleration.x,.linear_acceleration.y,.linear_acceleration.z,.linear_acceleration_covariance,diff
0,947.699,63432,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",-0.678354,-0.464939,-0.518293,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.802332,0.747246,9.010063,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",NaN
1,948.682,63433,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.297256,0.365854,-0.510671,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.416733,0.931663,10.787168,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.983
2,949.670,63434,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.510671,0.487805,-0.457317,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.529299,0.890947,10.933264,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.988
3,950.663,63435,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",-0.106707,-0.106707,-0.266768,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.732876,0.251477,10.032737,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.993
4,951.683,63436,0,0,NaN,0.0,0.0,0.0,0.0,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",-0.655488,-0.472561,-0.045732,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",0.663420,-0.177231,9.390872,"(0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0)",1.020

In [12]:
# add a column to df1 with difference between each timestamp
df2["time"] = df2["time"].apply(lambda x: datetime.strptime(x, "%Y/%m/%d/%H:%M:%S.%f").microsecond / 1e3)
df2["diff"] = df2["time"].diff()
df2.head()

,time,.header.seq,.header.stamp.secs,.header.stamp.nsecs,.header.frame_id,.name,.position,.velocity,.effort,diff
0,947.679,63432,1721091900,947624954,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05731356143951416, 0...","(0.0008585164323449135, -0.08155906200408936, ...",(),NaN
1,948.670,63433,1721091900,948621044,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05735573172569275, 0...","(0.04378433898091316, 0.03519917279481888, -0....",(),0.991
2,949.657,63434,1721091900,949616145,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015971943736076355, 0.05731356143951416, 0...","(-0.1339285671710968, -0.14165520668029785, -0...",(),0.987
3,950.655,63435,1721091900,950615765,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05735573172569275, 0...","(0.0008585164323449135, 0.026614010334014893, ...",(),0.998
4,951.669,63436,1721091900,951624404,NaN,"['L_hip', 'L_hip2', 'L_thigh', 'L_calf', 'L_to...","(-0.015929795801639557, 0.05731356143951416, 0...","(0.06009615212678909, -0.06181318312883377, -0...",(),1.014

In [13]:
# check nan values in both df1 and df2
print(df1.isnull().sum(), df2.isnull().sum())

time                                   0
.header.seq                            0
.header.stamp.secs                     0
.header.stamp.nsecs                    0
.header.frame_id                   43317
.orientation.x                         0
.orientation.y                         0
.orientation.z                         0
.orientation.w                         0
.orientation_covariance                0
.angular_velocity.x                    0
.angular_velocity.y                    0
.angular_velocity.z                    0
.angular_velocity_covariance           0
.linear_acceleration.x                 0
.linear_acceleration.y                 0
.linear_acceleration.z                 0
.linear_acceleration_covariance        0
diff                                   1
dtype: int64 time                       0
.header.seq                0
.header.stamp.secs         0
.header.stamp.nsecs        0
.header.frame_id       43317
.name                      0
.position                  0
.velocity                  0
.effort                    0
diff                       1
dtype: int64

In [14]:
# check zeros values in both df1 and df2
print((df1 == 0).sum())
print((df2 == 0).sum())

time                                   1
.header.seq                            0
.header.stamp.secs                 43317
.header.stamp.nsecs                43317
.header.frame_id                       0
.orientation.x                     43317
.orientation.y                     43317
.orientation.z                     43317
.orientation.w                     43317
.orientation_covariance                0
.angular_velocity.x                   50
.angular_velocity.y                   45
.angular_velocity.z                   64
.angular_velocity_covariance           0
.linear_acceleration.x                 8
.linear_acceleration.y                23
.linear_acceleration.z                 0
.linear_acceleration_covariance        0
diff                                   0
dtype: int64
time                   0
.header.seq            0
.header.stamp.secs     0
.header.stamp.nsecs    0
.header.frame_id       0
.name                  0
.position              0
.velocity              0
.effort                0
diff                   0
dtype: int64

In [15]:
# drop columns 1-9, 13, 17 from df1, drop columns 2-6,9 from df2
df1.drop(df1.columns[[1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 17]], axis=1, inplace=True)
df2.drop(df2.columns[[2, 3, 4, 5, 6, 9]], axis=1, inplace=True)
# contact two dataframes
df = pd.concat([df1, df2], axis=1)
df.head()

,time,.angular_velocity.x,.angular_velocity.y,.angular_velocity.z,.linear_acceleration.x,.linear_acceleration.y,.linear_acceleration.z,diff,time,.header.seq,.velocity,.effort
0,947.699,-0.678354,-0.464939,-0.518293,0.802332,0.747246,9.010063,NaN,947.679,63432,"(0.0008585164323449135, -0.08155906200408936, ...",()
1,948.682,0.297256,0.365854,-0.510671,0.416733,0.931663,10.787168,0.983,948.670,63433,"(0.04378433898091316, 0.03519917279481888, -0....",()
2,949.670,0.510671,0.487805,-0.457317,0.529299,0.890947,10.933264,0.988,949.657,63434,"(-0.1339285671710968, -0.14165520668029785, -0...",()
3,950.663,-0.106707,-0.106707,-0.266768,0.732876,0.251477,10.032737,0.993,950.655,63435,"(0.0008585164323449135, 0.026614010334014893, ...",()
4,951.683,-0.655488,-0.472561,-0.045732,0.663420,-0.177231,9.390872,1.020,951.669,63436,"(0.06009615212678909, -0.06181318312883377, -0...",()